'''
【课程2.15】  文本数据

Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
 
'''

In [37]:
import numpy as np
import pandas as pd

In [5]:
# 通过str访问，且自动排除丢失/ NA值
s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s)
print(df)
print('----')

print(s.str.count('b'))             # 直接通过.str调用字符串方法
print(df['key2'].str.upper())       # 可以对Series、Dataframe使用
print('----')                       # 自动过滤NaN值

df.columns = df.columns.str.upper() # df.columns是一个Index对象，也可使用.str
print(df)

0          A
1          b
2          C
3    bbhello
4        123
5        NaN
6         hj
dtype: object
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
----
0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    NaN
6    0.0
dtype: float64
0     HEE
1      FV
2       W
3    HIJA
4     123
5     NaN
Name: key2, dtype: object
----
  KEY1  KEY2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN

In [6]:
# 字符串常用方法（1） - lower，upper，len，startswith，endswith

s = pd.Series(['A','b','bbhello','123',np.nan])
print(s.str.lower())               # lower转换为小写
print(s.str.upper())               # upper转换为大写
print(s.str.len())                 # len字符串长度
print(s.str.startswith('b'))       # startswith以什么字符开头
print(s.str.endswith('o'))         # endswith以什么字符结尾

0          a
1          b
2    bbhello
3        123
4        NaN
dtype: object
0          A
1          B
2    BBHELLO
3        123
4        NaN
dtype: object
0    1.0
1    1.0
2    7.0
3    3.0
4    NaN
dtype: float64
0    False
1     True
2     True
3    False
4      NaN
dtype: object
0    False
1    False
2     True
3    False
4      NaN
dtype: object

In [13]:
# 字符串常用方法（2） - strip
s = pd.Series([' jack', 'jill ', ' jesse ', 'frank'])
df = pd.DataFrame(np.random.randn(3,2),
                  columns=['A','B'],
                  index=range(3))
print(s)
print(df)
print('----')

print(s.str.strip())           # 去除字符串中的空格
print(s.str.lstrip())          # 去除字符串中的左空格
print(s.str.rstrip())          # 去除字符串中的右空格

df = df.columns.str.strip()    # 这里去掉了columns的前后空格，但没有去掉中间空格
print(df)

0       jack
1      jill
2     jesse
3      frank
dtype: object
          A         B
0  1.575868  0.669396
1 -0.717907 -1.004592
2  0.863447 -0.221090
----
0     jack
1     jill
2    jesse
3    frank
dtype: object
0      jack
1     jill
2    jesse
3     frank
dtype: object
0      jack
1      jill
2     jesse
3     frank
dtype: object
Index(['A', 'B'], dtype='object')

In [17]:
# 字符串常用方法（3） - replace

df = pd.DataFrame(np.random.randn(3,2),columns=['Column A','Column B'],
                  index=range(3))
df.columns = df.columns.str.replace(' ','-')         # 替换
print(df)

df.columns = df.columns.str.replace('-','he',n=1)    # n：替换个数
print(df)

   Column-A  Column-B
0  0.841521 -0.320560
1 -0.819692 -0.510415
2 -0.564480  0.577225
   ColumnheA  ColumnheB
0   0.841521  -0.320560
1  -0.819692  -0.510415
2  -0.564480   0.577225

In [24]:
# 字符串常用方法（4） - split、rsplit

s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s.str.split(','))                 # 类似字符串的split
print('----')

print(s.str.split(',')[0])              # 直接索引得到一个list
print('----')

print(s.str.split(',').str[0])          # 可以使用get或[]符号访问拆分列表中的元素
print(s.str.split(',').str.get(1))
print('----')

print(s.str.split(',',expand=True))     # 可以使用expand可以轻松扩展此操作以返回DataFrame
print(s.str.split(',',expand=True,n=1)) # n参数限制分割数
print(s.str.rsplit(',',expand=True,n=1))# rsplit类似于split，反向工作，即从字符串的末尾到字符串的开头
print('----')

df = pd.DataFrame({'key1':['a,b,c','1,2,3',[':,., ']],
                  'key2':['a-b-c','1-2-3',[':-.- ']]})
print(df['key2'].str.split('-'))        # Dataframe使用split

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object
----
['a', 'b', 'c']
----
0      a
1      1
2    NaN
3    NaN
dtype: object
0      b
1      2
2    NaN
3    NaN
dtype: object
----
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN
3  NaN  NaN  NaN
     0    1
0    a  b,c
1    1  2,3
2  NaN  NaN
3  NaN  NaN
     0    1
0  a,b    c
1  1,2    3
2  NaN  NaN
3  NaN  NaN
----
0    [a, b, c]
1    [1, 2, 3]
2          NaN
Name: key2, dtype: object

In [29]:
# 字符串索引

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})

print(s.str[0])           # 每行取第一个字符串
print(s.str[:2])          # 取前两个字符串
print(df['key2'].str[0])  # str之后和字符串本身索引方式相同

0      A
1      b
2      C
3      b
4      1
5    NaN
6      h
dtype: object
0      A
1      b
2      C
3     bb
4     12
5    NaN
6     hj
dtype: object
0      h
1      f
2      w
3      h
4      1
5    NaN
Name: key2, dtype: object

作业1：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series或得到新的Dataframe：
① name字段首字母全部大写
② gender字段去除所有空格
③ score字段按照-拆分，分别是math，english，art三个学分

In [47]:
df = pd.DataFrame({'gender':list('MMFMF'),
                   'name':['jack','tom','marry','zack','heheda'],
                   'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
print(df)

df['name'] = df['name'].str.capitalize()                     # name字段首字母全部大写
df['gender']=df['gender'].str.strip()                        # gender字段去除所有空格
df['math'] = df['score'].str.split('-',expand=True)[0]       # 拆分score字段,同时转换为dataframe
df['english'] = df['score'].str.split('-',expand=True)[1]
df['art'] = df['score'].str.split('-',expand=True)[2]
del df['score']                                              # 删除旧的字段
print('修改后的df\n',df)

  gender    name     score
0      M    jack  90-92-89
1      M     tom  89-78-88
2      F   marry  90-92-95
3      M    zack  78-88-76
4      F  heheda  60-60-67
修改后的df
   gender    name math english art
0      M    Jack   90      92  89
1      M     Tom   89      78  88
2      F   Marry   90      92  95
3      M    Zack   78      88  76
4      F  Heheda   60      60  67