In [ ]:
'''
【课程2.6】  Pandas数据结构Dataframe：索引

Dataframe既有行索引也有列索引，可以被看做由Series组成的字典（共用一个索引）

选择列 / 选择行 / 切片 / 布尔判断

'''

In [2]:
import pandas as pd
import numpy as np

In [6]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                  index=['one','two','three'],
                  columns=['a','b','c','d'])
print(df)
data1 = df['a']                                         # 按照列名选择列
data2 = df[['a','c']]
print(data1,type(data1))                                # 选择一列输出Series
print(data2,type(data2))                                # 选择多列输出DataFrame
print('-----')

data3 = df.loc['one']                                   # 按照列名选择行 
data4 = df.loc[['one','two']]
print(data3,type(data3))                                # 选择一行输出Series
print(data4,type(data4))                                # 选择多行输出DataFrame

               a          b          c          d
one     0.701227  37.778781   6.105451  11.250171
two    79.187025  80.973346  21.740090   9.514380
three  85.224599  12.623088  90.487910  79.908350
one       0.701227
two      79.187025
three    85.224599
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          c
one     0.701227   6.105451
two    79.187025  21.740090
three  85.224599  90.487910 <class 'pandas.core.frame.DataFrame'>
-----
a     0.701227
b    37.778781
c     6.105451
d    11.250171
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
             a          b          c          d
one   0.701227  37.778781   6.105451  11.250171
two  79.187025  80.973346  21.740090   9.514380 <class 'pandas.core.frame.DataFrame'>

In [9]:
# df[] - 选择列
# 一般用于选择列，也可以选择行

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                  index=['one','two','three'],
                  columns=['a','b','c','d'])
print(df)

data1 = df['a']                                         
data2 = df[['b','c']]

print(data1)
print(data2)

'''
 df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
 单选列为Series，print结果为Series格式
 多选列为Dataframe，print结果为Dataframe格式
 
'''
data3 = df[:1]
print(data3,type(data3))

'''
 df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择（df[0]）
 输出结果为Dataframe，即便只选择一行
 df[]不能通过索引标签名来选择行(df['one'])

 注意：df[col]一般用于选择列，[]中写列名
'''

               a          b          c          d
one     7.608926   1.359044  62.134028  56.959813
two     6.942640  34.045599  10.838813  65.442623
three  59.804551   3.664898  81.709440  16.019888
one       7.608926
two       6.942640
three    59.804551
Name: a, dtype: float64
               b          c
one     1.359044  62.134028
two    34.045599  10.838813
three   3.664898  81.709440
            a         b          c          d
one  7.608926  1.359044  62.134028  56.959813 <class 'pandas.core.frame.DataFrame'>

In [13]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns=['a','b','c','d'])
print(df1)
print(df2)
print('-----')

data1 = df1.loc['one']                                    # 单个标签索引，返回Series
data2 = df2.loc[1]
print(data1)
print(data2)
print(f'单标签索引\n')

data3 = df1.loc[['two','three','five']]                   # 多个标签索引，如果标签不存在，则返回NaN
data4 = df2.loc[[3,2,1]]                                  # 索引顺序可变
print(data3)
print(data4)
print(f'多标签索引\n')

data5 = df1.loc['one':'three']                            # 字符串可以做切片对象
data6 = df2.loc[1:3]                                      # 末端包含
print(data5)
print(data6)
print(f'切片索引\n')

''' 注意：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index'''

               a          b          c          d
one    60.855737  38.401623  57.406244  67.473832
two    69.853571  65.014045  61.129005   6.516090
three  23.845830  90.025251  95.524022  91.616762
four   69.146437  26.723031  96.558524  57.214567
           a          b          c          d
0  47.500534  39.318893  50.617510   5.609623
1   7.854028  39.081316  86.058407  10.658912
2  98.558253  56.011220  14.451975  71.627520
3  49.125038  83.017353  33.695830  65.404534
-----
a    60.855737
b    38.401623
c    57.406244
d    67.473832
Name: one, dtype: float64
a     7.854028
b    39.081316
c    86.058407
d    10.658912
Name: 1, dtype: float64
单标签索引

               a          b          c          d
two    69.853571  65.014045  61.129005   6.516090
three  23.845830  90.025251  95.524022  91.616762
five         NaN        NaN        NaN        NaN
           a          b          c          d
3  49.125038  83.017353  33.695830  65.404534
2  98.558253  56.011220  14.451975  71.627520
1   7.854028  39.081316  86.058407  10.658912
多标签索引

               a          b          c          d
one    60.855737  38.401623  57.406244  67.473832
two    69.853571  65.014045  61.129005   6.516090
three  23.845830  90.025251  95.524022  91.616762
           a          b          c          d
1   7.854028  39.081316  86.058407  10.658912
2  98.558253  56.011220  14.451975  71.627520
3  49.125038  83.017353  33.695830  65.404534
切片索引

D:\Software\anaconda\lib\site-packages\ipykernel_launcher.py:18: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [18]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=['a','b','c','d'])
print(df)
print('-----')

print(df.iloc[0])                                   # 单位置索引
print(df.iloc[-1])
# print(df.iloc[8])                                 # loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])                               # 多位置索引
print(df.iloc[[3,2,1]])                             # 位置可变

print(df.iloc[1:3])                                 # 切片索引,不包括边界
print(df.iloc[::2])

               a          b          c          d
one    32.206372  52.363851  88.244043  84.371219
two    43.265006  82.529290  63.092190  50.306505
three  30.310513  63.941669  28.773094  76.158855
four   91.640366  65.228886  42.273932  73.606426
-----
a    32.206372
b    52.363851
c    88.244043
d    84.371219
Name: one, dtype: float64
a    91.640366
b    65.228886
c    42.273932
d    73.606426
Name: four, dtype: float64
               a          b          c          d
one    32.206372  52.363851  88.244043  84.371219
three  30.310513  63.941669  28.773094  76.158855
               a          b          c          d
four   91.640366  65.228886  42.273932  73.606426
three  30.310513  63.941669  28.773094  76.158855
two    43.265006  82.529290  63.092190  50.306505
               a          b          c          d
two    43.265006  82.529290  63.092190  50.306505
three  30.310513  63.941669  28.773094  76.158855
               a          b          c          d
one    32.206372  52.363851  88.244043  84.371219
three  30.310513  63.941669  28.773094  76.158855

In [23]:
# 布尔型索引

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=['a','b','c','d'])
print(df)
print('1-----')

b1 = df < 20                                    # 索引会对数据每个值进行判断
print(b1,type(b1))
print(df[b1])                                   # 索引结果保留 所有数据：True返回原数据，False返回值为NaN
print('2-----')

b2 = df['a'] > 50                               # 单列做判断
print(b2,type(b2)) 
print(df[b2])                                   # 索引结果保留 单列判断为True的行数据，包括其他列
print('3-----')

b3 = df[['a','b']] > 50                         # 多列做判断
print(b3,type(b3)) 
print(df[b3])                                   # 索引结果保留 所有数据：True返回原数据，False返回值为NaN
print('4-----')

b4 = df.loc[['one','three']] < 50               # 多行做判断
print(b4,type(b4))                               
print(df[b4])                                   # 索引结果保留 所有数据：True返回原数据，False返回值为NaN

               a          b          c          d
one    68.030295  98.750206  32.837088  81.179395
two    68.834648  94.449585  45.245945  85.317456
three  85.024646   7.553574  30.580862  49.149929
four   20.908193  41.988437  20.468792  97.543507
1-----
           a      b      c      d
one    False  False  False  False
two    False  False  False  False
three  False   True  False  False
four   False  False  False  False <class 'pandas.core.frame.DataFrame'>
        a         b   c   d
one   NaN       NaN NaN NaN
two   NaN       NaN NaN NaN
three NaN  7.553574 NaN NaN
four  NaN       NaN NaN NaN
2-----
one       True
two       True
three     True
four     False
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
one    68.030295  98.750206  32.837088  81.179395
two    68.834648  94.449585  45.245945  85.317456
three  85.024646   7.553574  30.580862  49.149929
3-----
           a      b
one     True   True
two     True   True
three   True  False
four   False  False <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one    68.030295  98.750206 NaN NaN
two    68.834648  94.449585 NaN NaN
three  85.024646        NaN NaN NaN
four         NaN        NaN NaN NaN
4-----
           a      b     c      d
one    False  False  True  False
three  False   True  True   True <class 'pandas.core.frame.DataFrame'>
        a         b          c          d
one   NaN       NaN  32.837088        NaN
two   NaN       NaN        NaN        NaN
three NaN  7.553574  30.580862  49.149929
four  NaN       NaN        NaN        NaN

In [28]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])                    # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])                     # 选择b,c,d三列,以步长为2选择行 
print(df[df['a']<50].iloc[:2])                         # 选择满足a列小于50的值的前2行

               a          b          c          d
one    63.194442  62.682232  64.490817  26.802307
two    25.632058  83.331517  74.766922  49.089702
three  64.140463  22.419260   3.139576  81.618170
four   49.016129  36.320445  50.078517  58.726665
------
one      63.194442
three    64.140463
Name: a, dtype: float64
               b          c          d
one    62.682232  64.490817  26.802307
three  22.419260   3.139576  81.618170
              a          b          c          d
two   25.632058  83.331517  74.766922  49.089702
four  49.016129  36.320445  50.078517  58.726665

In [ ]:
	作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
① 索引得到b，c列的所有值
② 索引得到第三第四行的数据
③ 按顺序索引得到two，one行的值
④ 索引得到大于50的值

In [36]:
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 columns=['a','b','c','d'],
                 index=['one','two','three','four'])
print(df)

print(f"b,c列的值是:\n{df[['b','c']]}")
print(f"第三行,第四行的值是:\n{df.loc[['three','four']]}")
print(f"顺序索引的值是:\n{df.iloc[[1,0]]}")
print(f"大于50值是:\n{df[df>50]}")

               a          b          c          d
one    67.834617  79.907439  21.761292   0.823106
two    52.728906   9.231118  23.070207  50.660479
three  41.824018  58.864682  30.448433  51.313905
four   86.953880  14.118020  11.234517  17.315534
b,c列的值是:
               b          c
one    79.907439  21.761292
two     9.231118  23.070207
three  58.864682  30.448433
four   14.118020  11.234517
第三行,第四行的值是:
               a          b          c          d
three  41.824018  58.864682  30.448433  51.313905
four   86.953880  14.118020  11.234517  17.315534
顺序索引的值是:
             a          b          c          d
two  52.728906   9.231118  23.070207  50.660479
one  67.834617  79.907439  21.761292   0.823106
大于50值是:
               a          b   c          d
one    67.834617  79.907439 NaN        NaN
two    52.728906        NaN NaN  50.660479
three        NaN  58.864682 NaN  51.313905
four   86.953880        NaN NaN        NaN